<div class="message-input">
  <%= form_for(@message, remote: true) do |f| %>
    <%= f.text_area :content, placeholder: "#{current_user.username}, please write something." %>
    <%= f.submit "Send" %>
  <% end %>
</div>
