html,body,a,ul,li,form,label,header
  font-family: helvetica, sans
  font-size: 16px
  margin: 0
  padding: 0

.alert
  background-color: #7292b0
  color: #fcfaf5
  font-size: 12px
  padding: 20px 20px 20px
  
.header
  margin-bottom: 30px
  padding: 10px 20px
  
.header-nav
  float: right
  li
    display: inline-block
    list-style: none
  a
    color: #7292b0
    font-size: 10px
    letter-spacing: 0.075em
    font-weight: bold
    text-decoration: none
    text-transform: uppercase
    &:hover
      color: #e67642
      
textarea,
input[type="text"],
input[type="password"]
  box-sizing: border-box
  resize: none
  font-family: helvetica, sans
  font-size: 14px
  padding: 14px 10px
 
button, input[type="submit"]
  background-color: #7292b0
  border: 0
  color: #fcfaf5
  cursor: pointer
  font-size: 12px
  letter-spacing: 0.05em
  padding: 12px
  text-transform: uppercase
  &:hover
    background-color: #eeaf3a
  
.dialog
  background-color: #4b6680
  border: 10px solid #7292b0
  margin: 5vh auto 0
  padding: 40px
  width: 500px
  label
    color: #fcfaf5
    font-size: 10px
    letter-spacing: 0.05em
    text-transform: uppercase
  input:not([type="submit"])
    width: 100%
    margin-bottom: 15px
  input[type="submit"]
    display: block
    margin: 40px auto 0
    width: 150px

#error_explanation 
  font-size: 10px
  color: #fcfaf5
  ul
    padding-left: 15px
  
.session-links
  color: #fcfaf5
  margin-top: 50px
  font-size: 12px
  a
    color: #fcfaf5
    font-size: 11px
    letter-spacing: 0.05em
    text-decoration: underline
    text-transform: uppercase
    &:hover
      color: #e67642
      
.message-wr
  height: 75vh
  margin: auto
  width: 80vw

.messages
  background-color: #fff
  box-shadow: 0 0 0 5px #f4f2ed inset
  box-sizing: border-box
  height: 87%
  overflow: scroll
  padding: 20px

.messages-table
  display: table
  width: 100%

.message
  line-height: 1.6
  &:last-child
    margin-bottom: 10px
  display: table-row
  &:nth-child(2n) div ~ div
  > div
    display: table-cell
    padding: 13px 10px 10px

.message-user
  color: #666
  font-size: 13px
  margin-right: 10px

.message-content
  width: 100%

.message-input
  background-color: rgba(0,0,0,0.03)
  box-sizing: border-box
  height: 13%
  padding: 0 5px 5px
  form
    height: 100%
  textarea
    height: 100%
    width: 100%
  input
    display: none

